.container-produtos {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.produto {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #C8D0E9;
    border-radius: 20px;
}
.produto-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
}
h1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #263056;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #6F7AA2;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}
.produto-descricao img {
    width: 100%;
    transition: linear;
    cursor: pointer;
    z-index: 300;
}
.produto-descricao span.showDescricao {
    display: block;
    animation: showDescricao 0.5s;
}
.descricao-produto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produto-descricao span {
    width: 80%;
    text-align: center;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
    display: none;
    height: 100%;
}
@keyframes showImg {
    0% {
        transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
}
@keyframes showDescricao {
    0% {
    transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1100px) and (min-width: 1000px) {
    .produto-descricao span { 
        font-size: 14px;
        line-height: 18px;
    }
    h1 {
        font-size: 20px;
    }
}
@media (max-width: 999px) and (min-width: 700px) {
    .produto {
        width: 30%;
        margin: 0.3rem;
    }
    .produto-descricao span {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 699px) and (min-width: 500px) {
    .produto {
        width: 40%;
        margin: 0.3rem;
    }
    .produto-descricao span {
        font-size: 12px;
        line-height: 12px;
    }
    h1 {
        font-size: 16px;
        padding: 0;
    }
}
@media (max-width: 499px) and (min-width: 350px) {
    .container-produtos {
        gap: 10px;
    }
    .produto {
        width: 60%;
        margin: 0.3rem;
    }
    .produto-descricao span {
        font-size: 12px;
        line-height: 12px;
    }
    h1 {
        font-size: 20px;
    }
}
@media (max-width: 349px) and (min-width: 200px) {
    .produto {
        width: 50%;
        margin: 0.3rem;
    }
    .produto-descricao span {
        font-size: 12px;
        line-height: 12px;
    }
    h1 {
        font-size: 16px;
        line-height: 12px;
    }
}